html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
}
a{
  text-decoration: none;
  color:white;
}
ul,ol{
  list-style: none
}

.nav {
  width: 100%;
  height: 60px;
  background:rgba(0,0,0,.1);
  font: 20px/60px "微软雅黑";
  color: white;
  position: fixed;
}
h2{
  width: 80%;
  margin: 0 auto;
}
/*banner部分*/
.banner{
  width: 100%;
  min-height: 100%;
  background: url(../images/bj.jpg) center center;
  overflow: hidden;
}
.parentWrap {
  width: 70%;
  margin: 80px auto;
}
.groupTitle {
  display:block;
  height:50px;
  font: 700 20px/50px "singsun";
  color: white;
  border-bottom:1px solid white;
  cursor:pointer;
}
.menuGroup > div {
  display:none;
  padding: 20px 20px;
  font: 400 20px/30px "singsun";
  color: white;
}

.banner>div{
  position: relative;
  width: 100%;
  height: 60px;
  text-align: center;
  font:600 30px/30px "微软雅黑";
  color:white;
}

/*content部分*/
.content{
  width: 100%;
  height:100%;
  background: #1b244b;
}

/*旋转木马*/
.wrap{
    width:1200px;
    margin:0 auto;
}
.slide {
    height:500px;
    position: relative;
}
.slide li{
    position: absolute;
    left:200px;
    top:0;
}
.slide li img{
    width:100%;
}
.arrow{
    opacity: 0;
}
.prev,.next{
    width:76px;
    height:112px;
    position: absolute;
    top:50%;
    margin-top:-56px;
    background: url(../images/prev.png) no-repeat;
    z-index: 99;
}
.next{
    right:0;
    background-image: url(../images/next.png);
}

